services:
  notes-api:
    image: notes-api:${IMAGE_TAG}
    build:
      context: .
      dockerfile: Dockerfile
    container_name: notes-api
    ports:
      - "${API_PORT}:8080"
    env_file:
      - .env
    networks:
      - notes-network
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - notes-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090" # Panel de control de Prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - notes-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000" # Panel de control de Grafana
    env_file:
      - .env
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - notes-network

  redis:
    image: redis:alpine
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: always
    networks:
      - notes-network

networks:
  notes-network:
    driver: bridge

volumes:
  grafana-storage:
  postgres-data:
