apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-api-deployment
  labels:
    app: notes-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notes-api
  template:
    metadata:
      labels:
        app: notes-api
    spec:
      containers:
      - name: notes-api
        image: notes-api:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: notes-api-config
        - secretRef:
            name: notes-api-secrets