@{
	ViewData["title"] = "Crear Categoría";
}
@model BlogCore.Models.Categoria

<br />
<br />
<h3 class="text-center">Crear una nueva Categoría</h3>
<form method="POST" asp-action="Create">
	<div class="row px-2 border">
		
		<div class="row mt-4">
			<div class="form-group row">
				<label asp-for="Nombre"></label>
			</div>
			<div class="row">
				<input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre" />
				<span asp-validation-for="Nombre" class="text-danger"></span>
			</div>
		</div>

		<div class="row mt-4">
			<div class="form-group row">
				<label asp-for="Orden"></label>
			</div>
			<div class="row">
				<input asp-for="Orden" class="form-control" placeholder="Ingresa la orden" />
				<span asp-validation-for="Orden" class="text-danger"></span>
			</div>
		</div>

		<br />
		<br />

		<div class="form-group-row">
			<div class="row">
				<partial name="_VistaCrearVolver" />
			</div>
		</div>
		<br />
		<div asp-validation-summary="All" class="text-danger"></div>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}